body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #005377;
    color: #868686;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  #index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .highlighted {
    color: #f1f1f1;
  }

  .content-container > h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    font-size: 25px;
  }

  .hobbies-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
  }

  .hobbies-container > div {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
  }

  .hobbies-container > div > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hobbies-container > div > p {
    font-size: 20px;
    margin: 5px 0px;
  }

  .education-container {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-container > div {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    margin-top: 10%;
  }

  .education-container h2 {
    font-weight: bold;
  }

  .diplomas-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, 2);
    /* background-color: bisque; */
  }

  .diplomas-container > .diplomas {
    grid-column: 1/2;
    grid-row: 1/1;
    place-self: center;
  }

  .diplomas-container > .illustration {
    grid-column: 2/3;
    grid-row: 1/1;
    place-self: center;
  }

  .diplomas-container > * {
    width: 100%;
  }

  .diplomas > div {
    margin: 50px 5px;
  }

  .diplomas > div > div {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .experience-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, 2);
    /* background-color: aqua; */
  }

  .experience-container > .internships {
    grid-column: 2/3;
    grid-row: 1/1;
    place-self: center;
  }

  .experience-container > .illustration {
    grid-column: 1;
    grid-row: 1/1;
    place-self: center;
  }

  .internships > div {
    margin: 50px 5px;
  }

  .internships > div > div {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .skills-container > h1 {
    margin-bottom: 50px;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 25px;
    width: 35%; /* Initially 20% */
    height: 200px;
    margin: 0px 20px;
    border-style: solid;

    /* Neumorphism */
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px -20px 60px #bebebe,
             -20px 20px 60px #ffffff;
  }

  .card > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .card .subset {
    font-style: italic;
  }

  .card .pad {
    border-style: solid;
    border-radius: 90px;
    width: 24px;
    height: 24px;
    float: right;
  }

  .card .green {
    background-color: #04AA6D;
  }

  .card .yellow {
    background-color: #c9c603;
  }

  .card .orange {
    background-color: #c98303;
  }

  .card .red {
    background-color: #c93103;
  }

  .card > p > span {
    font-size: 15px;
  }

  /* .card h2 {
    margin-bottom: 20px;
  } */

  .languages-container {
    /* background-color: tomato; */
  }

  .projects-container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects-container > h2 {
    margin-top: 50px;
  }

  .projects {
    display: flex;
    flex-direction: column; /* row */
    justify-content: space-evenly;
    align-items: center;
  }

  .projects > div {
    margin: 20px 0px;
  }

  .projects * {
    width: 100%;
  }

  .projects p {
    font-size: 20px;
  }

  .projects a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projects a:hover {
    text-decoration: underline;
  }

  .github-button-container {
    margin-top: 20px;
  }

  .github-button-container > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 50px;
  }

  .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-form > h2 {
    font-weight: bold;
  }

  .contact-form > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .contact-form > form > label {
    margin-top: 20px;
  } 

  .contact-form > form > input {
    border: solid 1px black;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .contact-form > form > textarea {
    border: solid 1px black;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .button {
    color: white;
    background-color: #005377;
    border-radius: 8px;
  }

  .button:hover {
    background-color: #1d7499;
  }

  .contact-form > form > div {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .contact-form > form > div > button {
    width: 20%;
    justify-content: flex-end;
    color: white;
    background-color: #005377;
    border-radius: 8px;
  }

  .contact-form > form > div > button:hover {
    background-color: #1d7499;
  }

  .other-contact {
    margin-left: 10px;
    font-style: italic;
    font-size: 15px;
  }

  .other-contact > span {
    cursor: pointer;
    text-decoration: underline;
  }