body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #005377;
    color: #a7a7a7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #d6d5d5;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  #index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .text-info {
    padding-top: 1.5rem;
    float: left;
    margin-left: 2.5rem
  }

  @media screen and (max-width: 800px) {
    #index, .profile-container {
      flex-direction: column;
    }

    .profile-container {
      margin-bottom: 10px;
    }
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .highlighted {
    color: #f1f1f1;
    border-bottom: solid rgb(243, 243, 243);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    margin: 50px 40px;
    font-size: 25px;
  }

  .presentation > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .presentation > h2 {
    font-weight: bolder;
  }

  .hobbies-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
  }

  .hobbies-container > div {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
  }

  .hobbies-container > div > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: 20px;
  }

  .hobbies-container > div > p {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 950px) {
    .presentation {
      margin: 50px 0px;
    }

    .hobbies-container {
      flex-direction: column;
      justify-content: center;
      padding: 50px 10px 0px 10px;
    }

    .hobbies-container > div {
      margin-top: 3rem;
      align-items: flex-start;
      width: 90%;
      padding: 10px 25px;
    }

    .hobbies-container > div > h2 {
      font-size: 1.5rem;
    }

    .hobbies-container > div > p {
      font-size: 1rem;
    }
  }

  .education-container {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-container > div {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    margin-top: 10%;
  }

  .education-container h2 {
    /* font-weight: bold; */
    font-size: 1.5rem;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .skills-container > h1 {
    margin-bottom: 50px;
    width: 100%;
  }

  .skills > div {
    /* width: fit-content; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    height: 100%;
  }

  .skills > div > li {
    margin: 0px 2rem;
  }

  @media screen and (max-width: 950px) {
    .skills > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
      height: 100%;
      width: 100%;
    }

    .skills .new-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .diplomas-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, 2);
    /* background-color: bisque; */
  }

  .diplomas-container > .diplomas {
    grid-column: 1/2;
    grid-row: 1/1;
    place-self: center;
  }

  .diplomas-container > .illustration {
    grid-column: 2/3;
    grid-row: 1/1;
    place-self: center;
  }

  .diplomas-container > * {
    width: 100%;
  }

  .diplomas > div {
    margin: 40px 5px;
  }

  .diplomas > div > h2 {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .experience-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, 2);
    /* background-color: aqua; */
  }

  .experience-container > .internships {
    grid-column: 2/3;
    grid-row: 1/1;
    place-self: center;
  }

  .experience-container > .illustration {
    grid-column: 1;
    grid-row: 1/1;
    place-self: center;
  }

  .internships > div {
    margin: 40px 5px;
  }

  .internships > div > h2 {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .location {
    font-size: 18px;
  }

  .languages-container {
    width: 100%;
  }

  .languages-container > .languages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .languages .new-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .languages .new-card img {
    width: 60%;
    margin-bottom: -1rem;
  }

  @media screen and (max-width: 950px) {

    .education-container {
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .diplomas-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .experience-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .illustration {
      display: none;
    }

    .languages-container > .languages {
      flex-direction: column;
    }

    .languages > .new-card {
      width: 80%;
    }
  }

  .projects-container {
    padding: 50px 50px;
    width: 100%;
  }

  .projects-container > h2 {
    margin-top: 50px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .projects .new-card {
    width: fit-content;
    width: 100%;
    border-bottom: solid 1px #000000;
  }

  .projects .new-card > div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .new-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 25px;
    width: 35%; /* Initially 20% */
    /* height: 400px; */
    height: 100%; /* Cards don't have the same size but reponsive in height */
    /* margin: 0px 20px; */
    border-style: solid;
  }

  .new-card > div {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .new-card .subset {
    font-style: italic;
  }

  .new-card .pad {
    border-style: solid;
    border-radius: 90px;
    width: 24px;
    height: 24px;
    float: right;
  }

  .new-card .green {
    background-color: #04AA6D;
  }

  .new-card .yellow {
    background-color: #c9c603;
  }

  .new-card .orange {
    background-color: #c98303;
  }

  .new-card .red {
    background-color: #c93103;
  }

  .new-card > p > span {
    font-size: 1rem;
  }

  .new-card h2 {
    /* font-weight: bold; */
    font-size: 1.5rem;
  }

  .new-card p {
    font-size: 1.1rem;
  }

  .discover-project-button {
    font-style: italic;
  }

  .discover-project-button:hover {
    text-decoration: underline;
    
  }

  .project-tags > * {
    margin-left: 1.5rem;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
    font-size: smaller;
  }

  .project-tags > .ai {
    background-color: #d4a60e;
  }

  .project-tags > .programming {
    background-color: #41A056;
  }

  .project-tags > .project-management {
    background-color: #d1343c;
  }

  @media screen and (max-width: 750px) {

    .projects .new-card {
      width: fit-content;
      /* margin-top: 3rem; */
      border-bottom: solid 1px #000000;
    }

    .projects-container {
      padding: 50px 10px;
      width: 100%;
    }

    a {
      text-decoration: underline;
    }

    a:visited {
      text-decoration: underline;
    }

    .new-card {
      margin: 0px 10px;
    }

    .projects .new-card > p {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .projects .new-card > div {
      flex-direction: column-reverse;
    }

    .project-tags {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .project-tags > * {
      margin-left: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 0.75rem;
    }
  }

  .education-container > div {
    margin-bottom: 4rem;
  }

  .github-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .github-button-container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
    width: fit-content;
  }

  .contact-container {
    padding: 50px 50px 0px 50px;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 50px;
  }

  .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-form > h2 {
    font-weight: bold;
  }

  .contact-form > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .contact-form > form > label {
    margin-top: 20px;
  } 

  .contact-form > form > input {
    border: solid 1px black;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .contact-form > form > textarea {
    border: solid 1px black;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .button {
    color: white;
    background-color: #005377;
    border-radius: 8px;
  }

  .button:hover {
    background-color: #1d7499;
  }

  .contact-form > form > div {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .contact-form > form > div > button {
    width: 20%;
    justify-content: flex-end;
    color: white;
    background-color: #005377;
    border-radius: 8px;
  }

  @media screen and (max-width: 500px) {
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contact-container {
      padding: 50px 10px 0px 10px;
    }

    .contact-form {
      padding: 0px 0px;
      padding-top: 2rem;
    }

    .contact-form > form > div {
      margin-top: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .contact-image {
      display: none;
    }

    .contact-form > form > div > button {
      width: 40%;
    }
  }

  .contact-form > form > div > button:hover {
    background-color: #1d7499;
  }

  .other-contact {
    margin-left: 10px;
    font-style: italic;
    font-size: 15px;
  }

  .other-contact > span {
    cursor: pointer;
    text-decoration: underline;
  }