html, body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EDF5ED;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* height: 100vh; */
}

main {
    /* width: 50%; */
    width: 50vw;
    height: 100%;
    /* min-height: max-content; */

    background-color: #F8F8F8;
    /* border: 1px solid black; */
    border-radius: 12px;
    margin: 1rem 0rem;
    padding: 1rem;
}

@media screen and (max-width: 800px) {

    main {
        width: 80%;
    }
}

main > * {
    margin: 50px 0px;
}

main > div > h2 {
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 24px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

h6 {
    font-size: 20px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.profile {
    /* padding: 1rem; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile > * {
    width: 100%;
}


.myself {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* grid-gap: 10px; */
    /* grid-auto-rows: minmax(100px, auto); */
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {

    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 32px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
        font-weight: 200;
        padding: 0;
        margin: 0;
    }

    .myself {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.myself > img {
    width: 16rem;
    height: 16rem;
    border-radius: 9px;

    /* grid-column: 1/2;
    grid-row: 1; */
}

.myself > .information {
    padding-left: 30px;
    padding-right: 20px;
    /* grid-column: 2/2;
    grid-row: 2; */
}

.information .name {
    margin-bottom: 1rem;
}

.information > .position, .place {
    font-style: italic;
}

.information > .mail {
    margin-top: 2rem;
    text-decoration: underline;
}

.profile > .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links {
    margin: 10px 0;
}

.links > a > img {
    margin: 20px;
    width: 64px;
    height: 64px;
}

.button {
    font-size: 20px;
    background-color: #EDF5ED;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    height: 45px;
    width: 200px;

    background: #EDF5ED;
    box-shadow:  20px 20px 60px #ccd3cc,
             -20px -20px 60px #ffffff;
}

.button:hover {
    cursor: pointer;
    border: 1px solid #434343;
}

/* .resume {
    
} */

.resume > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

/* .resume {
    width: 200px;
} */

.button > a > img {
    margin: 10px;
    width: 24px;
    height: 24px;
}

.button > img {
    margin: 10px;
    width: 24px;
    height: 24px;
}

.projects .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.list > * {
    margin: 20px 0px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    

    padding-right: 0;
}

.card > a {
    text-decoration: underline;
    color: black;
}

.card > * {
    padding: 0;
    margin: 0;
}

.card > h4 {
    margin-bottom: 10px;
}

.projects .card {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.experience-card > p {
    font-size: 20px;
}

.contact {
    margin-bottom: 10px;
}

.contact-form {
    margin-top: 10px;
}

.contact-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-form > form > * {
    width: 90%;
}

.contact-form > form > input, textarea {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-form > form > input {
    height: 30px;
}

.contact-form > form > textarea {
    height: 200px;
    resize: none;
}

.contact-form span {
    text-decoration: underline;
    cursor: pointer;
}

.send-mail {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 45px;
}

.send-mail > button {
    font-size: 20px;
    background-color: #EDF5ED;
}

.button-send-mail {
    border: none;
}